@import "./base.css";

.calc{
  border: 3px solid #8a88ff;
  width: 35%;
  padding: 30px;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.valores-forms {
  display: grid;
  margin-top: 17px;
}
input, select{
  height: 30px;
  padding-left: 10px;
}
strong {
  text-decoration: underline solid #8a88ff;
}
span{
  margin-left: 5px;
}
label{
  font-size: 1.1em;
}
.resultado {
  background-color: #8a88ff;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  color: white;
}
.resultado span {
  font-size: 2em;
}
.button-3 {
  appearance: none;
  background-color: #8a88ff;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 1em;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #6e6dc0;
}

.button-3:focus {
  box-shadow: #6e6dc0 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #6e6dc0;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
.btn-div {
  margin-top: 8px;
}